<a href="https://colab.research.google.com/github/architnd/python-colab/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# A list of fruits
fruits = ["apple", "banana", "cherry"]

# Adding a new item
fruits.append("dragonfruit")

# Logic to find fruits with more than 5 letters
for fruit in fruits:
    if len(fruit) > 5:
        print(f"{fruit.title()} is a long word!")
    else:
        print(f"{fruit.title()} is a short word.")

Apple is a short word.
Banana is a long word!
Cherry is a long word!
Dragonfruit is a long word!

In [ ]:
fruits = ["apple", "banana", "cherry"]
for i in fruits:
    print(i, end=' ')

apple banana cherry

In [ ]:
fruits = ["apple", "banana", "cherry"]
for i, val in enumerate(fruits):
    print(i+1, val, end=' ')

1 apple 2 banana 3 cherry

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits2 = [i for i in fruits if i[0] == 'b']
fruits3 = [i for i in fruits if len(i) > 5]
print(fruits2)
print(fruits3)

['banana']
['banana', 'cherry']

In [ ]:
fruits = ["apple", "banana", "cherry", ["red", "blue", "green"]]
for i in fruits:
   if isinstance(i, list):
    for j in i:
      print(j)
   else :
    print(i)

apple
banana
cherry
red
blue
green

In [ ]:
fruits = ["apple", "banana", "cherry", ["red", "blue", "green"]]
print(fruits[0:3])
print(fruits[2:])
print(fruits[0::2])
print(fruits[::-1])
print(fruits[-1][-1])

['apple', 'banana', 'cherry']
['cherry', ['red', 'blue', 'green']]
['apple', 'cherry']
[['red', 'blue', 'green'], 'cherry', 'banana', 'apple']
green

In [ ]:
i = 5
def myFunction():
  #global i
  i = 10
  def innerFunction():
    #nonlocal i
    #global i
    i = 15
    print(i)
  innerFunction()
  print(i)
myFunction()
print(i)

15
15
15

In [ ]:
myFunction = lambda a, b : a * b
print(myFunction(5, 6))

30

In [ ]:
fruits = ["apple", "banana", "cherry", "starwberry", "grape", "dragonfruit"]
fruits2 = list(filter(lambda x : len(x) > 5, fruits))
fruits3 = list(map(lambda x : x.upper(), fruits[0:3]))
print(fruits2)
print(fruits3)

['banana', 'cherry', 'starwberry', 'dragonfruit']
['APPLE', 'BANANA', 'CHERRY']

In [ ]:
fruits = ["apple", "banana", "cherry", "starwberry", "grape", "dragonfruit"]
fruits2 = [i for i in fruits if len(i) > 5]
fruits3 = [i.upper() for i in fruits[0:3]]
print(fruits2)
print(fruits3)

['banana', 'cherry', 'starwberry', 'dragonfruit']
['APPLE', 'BANANA', 'CHERRY']

In [ ]:
fruits = ["apple", "banana", "cherry", "starwberry", "grape", "dragonfruit"]
fruits2 = fruits
fruits3 = list(fruits)
fruits2[0] = "orange"
print(fruits)
print(fruits2)
print(fruits3)

['orange', 'banana', 'cherry', 'starwberry', 'grape', 'dragonfruit']
['orange', 'banana', 'cherry', 'starwberry', 'grape', 'dragonfruit']
['apple', 'banana', 'cherry', 'starwberry', 'grape', 'dragonfruit']

In [ ]:
fruits = ["apple", "banana", "cherry", ["red", "blue", "green"]]
fruits2 = fruits.copy()
fruits3 = fruits.deepcopy()
fruits2[0] = "orange"
fruits2[3][1] = "yellow"
print(fruits)
print(fruits2)
print(fruits3)

['apple', 'banana', 'cherry', ['red', 'yellow', 'green']]
['orange', 'banana', 'cherry', ['red', 'yellow', 'green']]
['apple', 'banana', 'cherry', ['red', 'blue', 'green']]

In [ ]:
fruits = ["apple", "banana", "cherry", "starwberry", "grape", "dragonfruit"]
if "apple" in fruits:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [ ]:
fruits = ["apple", "banana", "cherry", "starwberry", "grape", "dragonfruit"]
fruits.insert(2, "orange")
print(fruits)
fruits.remove("orange")
print(fruits)
fruits.pop(2)
print(fruits)
del fruits[2]
print(fruits)
fruits.append("orange")
print(fruits)
fruits.sort()
print(fruits)
fruits.sort(reverse=True)
print(fruits)
fruits.reverse()
print(fruits)
fruits.extend(["red", "blue", "green"])
print(fruits)
fruits.clear()
print(fruits)

['apple', 'banana', 'orange', 'cherry', 'starwberry', 'grape', 'dragonfruit']
['apple', 'banana', 'cherry', 'starwberry', 'grape', 'dragonfruit']
['apple', 'banana', 'starwberry', 'grape', 'dragonfruit']
['apple', 'banana', 'grape', 'dragonfruit']
['apple', 'banana', 'grape', 'dragonfruit', 'orange']
['apple', 'banana', 'dragonfruit', 'grape', 'orange']
['orange', 'grape', 'dragonfruit', 'banana', 'apple']
['apple', 'banana', 'dragonfruit', 'grape', 'orange']
['apple', 'banana', 'dragonfruit', 'grape', 'orange', 'red', 'blue', 'green']
[]

In [ ]:
fruits = ["apple", "banana", 12, 15, 20.11, 16.24, ("red", "blue"), ["red", "blue"], {"red", "blue"}, {1:'a', 2:'b'}]
print(fruits)

['apple', 'banana', 12, 15, 20.11, 16.24, ('red', 'blue'), ['red', 'blue'], {'blue', 'red'}, {1: 'a', 2: 'b'}]

In [ ]:
fruits = ("apple", "banana", "cherry", "starwberry", "grape", "dragonfruit")
dir(fruits)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
fruits = ["apple", "banana", "cherry", "starwberry", "grape", "dragonfruit"]
fruits.append("apple")
print(fruits)
fruits2 = list(set(fruits))
print(fruits2)
fruits3 = [i for i in fruits if fruits.count(i) > 1]
print(fruits3)

['apple', 'banana', 'cherry', 'starwberry', 'grape', 'dragonfruit', 'apple']
['banana', 'dragonfruit', 'starwberry', 'apple', 'cherry', 'grape']
['apple', 'apple']

In [ ]:
myList = list(range(2,10,2))
print(myList)

[2, 4, 6, 8]

In [ ]:
myString = "apple, banana, cherry, starwberry, grape, dragonfruit"
myList = myString.split(", ")
myString2 = ", ".join(myList) # Corrected line
print(myList)
print(myString2)

['apple', 'banana', 'cherry', 'starwberry', 'grape', 'dragonfruit']
apple, banana, cherry, starwberry, grape, dragonfruit

In [119]:
fruits = {1:"apple", 2:"banana", 3:"cherry", 4:"starwberry", 5:"grape", 6:"dragonfruit"}
for i in fruits:
  print(i, fruits[i])
for x,y in fruits.items(): # Corrected to iterate over key-value pairs
  print(x,y)
print(list(fruits.keys()))
print(list(fruits.values()))
print(list(fruits.items()))
keys = list(fruits.keys())
values = list(fruits.values())
print(zip(keys, values))
fruits2 = dict(zip(keys, values))
print(fruits2)
fruits3 = {x:y for x,y in zip(keys, values)}
print(fruits3)
fruits_ = {7:"apple", 8:"banana", 9:"cherry", 10:"starwberry", 11:"grape", 12:"dragonfruit"}
fruits4 = {**fruits, **fruits_}
print(fruits4)
fruits5 = {x:y for x,y in fruits.items() if x > 3}
print(fruits5)
fruits6 = {x:y for x,y in fruits.items() if 'rry' in y}
print(fruits6)
fruits7 = {x:y for x,y in fruits.items() if x % 2 == 0}
print(fruits7)
fruits8 = {i:i**2 for i in range(1,11)}
print(fruits8)
print(fruits8.items())
fruits9 = dict(filter(lambda x : x[0] % 2 == 0, fruits8.items()))
print(fruits9)
fruits10 = dict(map(lambda x : (x[0], x[1]**2), fruits8.items()))
print(fruits10)

1 apple
2 banana
3 cherry
4 starwberry
5 grape
6 dragonfruit
1 apple
2 banana
3 cherry
4 starwberry
5 grape
6 dragonfruit
[1, 2, 3, 4, 5, 6]
['apple', 'banana', 'cherry', 'starwberry', 'grape', 'dragonfruit']
[(1, 'apple'), (2, 'banana'), (3, 'cherry'), (4, 'starwberry'), (5, 'grape'), (6, 'dragonfruit')]
<zip object at 0x786fc204e3c0>
{1: 'apple', 2: 'banana', 3: 'cherry', 4: 'starwberry', 5: 'grape', 6: 'dragonfruit'}
{1: 'apple', 2: 'banana', 3: 'cherry', 4: 'starwberry', 5: 'grape', 6: 'dragonfruit'}
{1: 'apple', 2: 'banana', 3: 'cherry', 4: 'starwberry', 5: 'grape', 6: 'dragonfruit', 7: 'apple', 8: 'banana', 9: 'cherry', 10: 'starwberry', 11: 'grape', 12: 'dragonfruit'}
{4: 'starwberry', 5: 'grape', 6: 'dragonfruit'}
{3: 'cherry', 4: 'starwberry'}
{2: 'banana', 4: 'starwberry', 6: 'dragonfruit'}
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
dict_items([(1, 1), (2, 4), (3, 9), (4, 16), (5, 25), (6, 36), (7, 49), (8, 64), (9, 81), (10, 100)])
{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}
{1: 1, 2: 16, 3: 81, 4: 256, 5: 625, 6: 1296, 7: 2401, 8: 4096, 9: 6561, 10: 10000}

In [124]:
fruits = {"apple", "banana", "cherry", "starwberry", "grape", "dragonfruit"}
print(fruits)
fruits1 = {"apple", "banana", "cherry", "starwberry", "grape", "dragonfruit", "apple"}
print(fruits1)
fruits2 = set(("apple", "banana", "cherry", "starwberry", "grape", "dragonfruit"))
print(fruits2)
fruits3 = set(["apple", "banana", "cherry", "starwberry", "grape", "dragonfruit"])
print(fruits3)
fruits4 = set([1,2,3,4,5,6,7,8,9,10])
print(fruits4)
fruits5 = set(range(1,11))
print(fruits5)
fruits6 = set(range(1,11,2))
print(fruits6)
fruits7 = set(range(10,0,-1))
print(fruits7)

{'banana', 'starwberry', 'apple', 'cherry', 'dragonfruit', 'grape'}
{'banana', 'starwberry', 'apple', 'cherry', 'dragonfruit', 'grape'}
{'banana', 'dragonfruit', 'starwberry', 'apple', 'cherry', 'grape'}
{'banana', 'dragonfruit', 'starwberry', 'apple', 'cherry', 'grape'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 3, 5, 7, 9}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [157]:
i = -5
print(type(i))
#i = 256
#i = -6
#i = 257
#dir(i)
print(id(i))
j = -5
#j = 256
#j = -6
#j = 257
print(id(j))

<class 'int'>
11654184
11654184

In [151]:
myList = [1,2,3,2,2,4,6,3,2,1,7,8]
for i in myList:
  print(id(i))

11654376
11654408
11654440
11654408
11654408
11654472
11654536
11654440
11654408
11654376
11654568
11654600

In [156]:
import json
fruits = {1:"apple", 2:"banana", 3:"cherry", 4:"starwberry", 5:"grape", 6:"dragonfruit"}
myJson = json.dumps(fruits)
print(myJson)
print(type(myJson))
print(type(fruits))
fruits2 = json.loads(myJson)
print(fruits2)
print(type(fruits2))

{"1": "apple", "2": "banana", "3": "cherry", "4": "starwberry", "5": "grape", "6": "dragonfruit"}
<class 'str'>
<class 'dict'>
{'1': 'apple', '2': 'banana', '3': 'cherry', '4': 'starwberry', '5': 'grape', '6': 'dragonfruit'}
<class 'dict'>